body
{background-color: blue;}
div 
{background-color: aqua;}
.coded 
{background-color: chartreuse;}
.brand
{background-color: pink;}

.ali{display: flex; justify-content: center;}
.rashed {font-size: 24px; height:20xp; width: 25%;}

